# vim
*.sw?
.ycm_extra_conf.py

# autotools
aclocal.m4
autom4te.cache/
autoscan.log
compile
config.guess
config.h
config.h.in
config.h.in~
config.log
config.status
config.sub
configure
configure.scan
depcomp
install-sh
libtool
ltmain.sh
Makefile
Makefile.in
missing
stamp-h1
test-driver

# Doxygen
Doxyfile
html/

# make
.deps/
.libs/
*.la
*.lo
*.o

# gcov
*.gcda
*.gcno
*.gcov

# test
test/cppcheck.sh.log
test/cppcheck.sh.trs
test/test
test/test-gcov
test/test-gcov.log
test/test-gcov.trs
test/test-suite.log
test/test.log
test/test.trs
test/valgrind.sh.log
test/valgrind.sh.trs
